# Java & Gradle
/build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
/.idea/
*.iml
*.iws
*.ipr
/out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
*.env

# Selenium driver binaries (pl. ha chromedriver.exe-t is verziózol, ezt módosítsd)
drivers/
*.exe

# Test reports
/test-output/
reports/

# VSCode (ha használnád)
.vscode/

# JetBrains Rider vagy más IDE extra fájlok
/.idea_modules/

# Eclipse (ha valaki Eclipse-szel nyitja meg)
/.settings/
/bin/
/*.classpath
/*.project

# MacOS metadata
__MACOSX/

# Windows crash dump
*.dmp